[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rosdiscover = {editable = true, path = "."}
flake8 = "==3.8.2"
pep8-naming = "==0.10.0"
mypy = "==0.910"
pytest = "==5.4.2"
ptpython = "==3.0.2"
tox = "==3.15.1"
coveralls = "==2.0.0"
twine = "==3.1.1"
types-setuptools = "==57.0.0"
types-PyYAML = "==5.4.3"
roswire = {editable = true, ref = "613749e510b9d75044963430af9dac11f9ca2914", git = "https://github.com/rosqual/roswire"}

[dev-packages]
flake8 = "==3.8.2"
pep8-naming = "==0.10.0"
mypy = "==0.910"
pytest = "==5.4.2"
ptpython = "==3.0.2"
tox = "==3.15.1"
coveralls = "==2.0.0"
twine = "==3.1.1"
types-setuptools = "==57.0.0"
types-PyYAML = "==5.4.3"

[requires]
python_version = "3.9"
