flake8==3.8.2
pep8-naming==0.10.0
mypy==0.910
pytest==5.4.2
ptpython==3.0.2
tox==3.15.1
coveralls==2.0.0
twine==3.1.1
wheel==0.34.2
types-PyYAML==5.4.3
types-setuptools==57.0.0
git+git://github.com/rosqual/roswire.git@0f48a6fde75ca22919f2e1e6a73106a02f724613#egg=roswire
